html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

:root {
  --letter-color: #3e3f5e;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
  background-image: url(https://hoanganf8.github.io/htmlcss_project02/image/landing-background.jpg);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: none;
}

.container {
  width: 95%;
  margin: 30px auto;
  max-width: calc(100% - 48px);
}

.heading {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.lv2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.lv1 {
  font-size: 6.5rem;
  font-weight: 900;
}

.lv3 {
  font-size: 1.8rem;
  font-weight: 600;
}

input[type=checkbox] {
  display: none;
}

input[type=text] {
  width: 180px;
  padding: 10px;
  outline: none;
}

.btn {
  font-family: "Rajdhani", sans-serif;
  margin: 30px auto;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  width: 252px;
  padding: 17px 15px;
  cursor: pointer;
  border-radius: 12px;
  -webkit-tap-highlight-color: none;
}

.landing__info__desc__lap {
  display: none;
}

.landing__info {
  padding: 10px 0;
  text-align: center;
}
.landing__info__logo {
  margin: 15px auto;
  width: 90px;
  height: 90px;
}
.landing__tab-switch {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px #ddd;
  text-align: center;
}
.landing__tab-switch a {
  color: #fff;
}
.landing__tab-switch__login {
  width: 50%;
  padding: 0px 5px;
  font-weight: 700;
  cursor: pointer;
}
.landing__tab-switch__register {
  width: 50%;
  font-weight: 700;
  cursor: pointer;
}
.landing label {
  cursor: pointer;
}
.landing .active {
  background: #fff;
  color: #333;
}
.landing label {
  display: block;
  padding: 17px 20px;
}
.landing__tab-switch__register label {
  color: #fff;
}
.landing__input-register:checked ~ .landing__info .landing__tab-switch__login {
  background: transparent;
}
.landing__input-register:checked ~ .landing__info .landing__tab-switch__register {
  background: #fff;
}
.landing__input-register:checked ~ .landing__info .landing__tab-switch__register label {
  color: #333;
}
.landing .lv3 {
  font-family: Rajdhani, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--letter-color);
  margin-bottom: 30px;
}
.landing__login {
  position: absolute;
  top: 370px;
  left: 50%;
  translate: -50% 0;
  padding: 40px 10px;
  background: #fff;
  color: #adafca;
  font-weight: 600;
  border-radius: 12px;
  text-align: center;
}
.landing__login label {
  position: relative;
}
.landing__login input {
  width: 220px;
  height: 45px;
  border: 1px solid #ccc;
  padding: 0 15px;
  border-radius: 12px;
  outline: none;
}
.landing__login .placeholder {
  position: absolute;
  top: 50%;
  left: 30px;
  translate: 0 -50%;
  transition: all 0.4s ease;
}
.landing__login input:focus + .placeholder {
  top: 17px;
  translate: 0 -50%;
  font-size: 1.2rem;
  color: #adadad;
  font-weight: 600;
  padding: 0 5px;
  background: #fff;
}
.landing__login input:focus {
  border: 1px solid #007bff;
}
.landing__login input:valid {
  border: 1px solid rgba(0, 128, 0, 0.808);
}
.landing__login__help__remember {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.landing__login__remember__box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #adafca;
  cursor: pointer;
  background: #007bff;
}
.landing__login .icon-exit {
  color: #fff;
}
#icon-box:checked ~ .landing__login__remember__box {
  background: #fff;
}
.landing__login__help {
  margin-top: 5px;
  padding: 0 20px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing__login__btn {
  background: #615dfa;
  border: 1px solid #615dfa;
}
.landing__login__seperate {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 1px;
  background: #ccc;
}
.landing__login__other {
  position: absolute;
  top: -7px;
  left: 25px;
  background: #fff;
  color: var(--letter-color);
  font-weight: 700;
}
.landing__login__group-icon {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
}
.landing__login__icon {
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #615dfa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.5s ease;
}
.landing__login__icon:nth-child(2) {
  background: #1abcff;
}
.landing__login__icon:nth-child(3) {
  background: #7b5dfa;
}
.landing__login__icon:nth-child(3) {
  background: #fd434f;
}
.landing__login__icon:hover {
  transform: translateY(-20%);
}
.landing__register {
  display: none;
  position: absolute;
  top: 370px;
  left: 50%;
  translate: -50% 0;
  padding: 40px 10px;
  background: #fff;
  color: #adafca;
  font-weight: 600;
  border-radius: 12px;
  text-align: center;
}
.landing__register label {
  position: relative;
}
.landing__register input {
  width: 220px;
  height: 45px;
  border: 1px solid #ccc;
  padding: 0 15px;
  border-radius: 12px;
  outline: none;
}
.landing__register .placeholder {
  position: absolute;
  top: 50%;
  left: 30px;
  translate: 0 -50%;
  transition: all 0.4s ease;
}
.landing__register input:focus + .placeholder {
  top: 17px;
  translate: 0 -50%;
  font-size: 1.2rem;
  color: #adadad;
  font-weight: 600;
  padding: 0 5px;
  background: #fff;
}
.landing__register input:focus {
  border: 1px solid #007bff;
}
.landing__register input:valid {
  border: 1px solid rgba(0, 128, 0, 0.808);
}
.landing__register__help__remember {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.landing__register__remember__box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #adafca;
  cursor: pointer;
  background: #007bff;
}
.landing__register .icon-exit {
  color: #fff;
}
#icon-register-box:checked ~ .landing__register__remember__box {
  background: #fff;
}
.landing__register__help {
  margin-top: 5px;
  padding: 0 20px;
  font-size: 1.4rem;
}
.landing__register__btn {
  background: #23d2e2;
  border: 1px solid #23d2e2;
}
.landing__register__text {
  width: 252px;
  color: var(--letter-color);
  text-align: left;
  padding: 5px 20px;
  font-weight: 500;
}
.landing__register__text .contact {
  color: #23d2e2;
}
.landing__input-register:checked ~ .landing__action .landing__register {
  display: block;
}
.landing__input-register:checked ~ .landing__action .landing__login {
  display: none;
}

@media screen and (min-width: 576px) {
  .lv1 {
    font-size: 11rem;
  }
  .landing__tab-switch {
    width: 65%;
    margin-top: 40px;
  }
  .landing__action {
    margin-top: 40px;
    position: relative;
    height: 650px;
    margin-left: auto;
  }
  .landing__login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px 20px;
    height: 100%;
    width: 95%;
  }
  .landing__login label {
    width: 100%;
    box-sizing: border-box;
  }
  .landing__login input {
    width: 100%;
    height: 55px;
  }
  .landing__login__remember__box label {
    padding: 0;
  }
  .landing__login__seperate {
    width: calc(100% - 40px);
  }
  .landing__login__other {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing__login .btn {
    width: calc(100% - 40px);
  }
  .landing__register {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 20px;
    height: 100%;
    width: 95%;
  }
  .landing__register label {
    width: 100%;
  }
  .landing__register input {
    width: 100%;
    height: 50px;
  }
  .landing__register__remember__box label {
    padding: 0;
  }
  .landing__register .btn {
    width: calc(100% - 40px);
  }
  .landing__register__text {
    width: 100%;
    line-height: 1.2;
  }
  .landing__input-register:checked ~ .landing__action .landing__register {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .lv1 {
    font-size: 11rem;
  }
  .landing__tab-switch {
    width: 65%;
    margin-top: 40px;
  }
  .landing__action {
    margin-top: 40px;
    position: relative;
    height: 650px;
    margin-left: auto;
  }
  .landing__login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px 20px;
    height: 100%;
    width: 70%;
  }
  .landing__login label {
    width: 100%;
    box-sizing: border-box;
  }
  .landing__login input {
    width: 100%;
    height: 55px;
  }
  .landing__login__remember__box label {
    padding: 0;
  }
  .landing__login__seperate {
    width: calc(100% - 40px);
  }
  .landing__login__other {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing__login .btn {
    width: calc(100% - 40px);
  }
  .landing__register {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 20px;
    height: 100%;
    width: 70%;
  }
  .landing__register label {
    width: 100%;
  }
  .landing__register input {
    width: 100%;
    height: 50px;
  }
  .landing__register__remember__box label {
    padding: 0;
  }
  .landing__register .btn {
    width: calc(100% - 40px);
  }
  .landing__register__text {
    width: 100%;
    line-height: 1.2;
  }
  .landing__input-register:checked ~ .landing__action .landing__register {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .lv1 {
    font-size: 11rem;
  }
  .landing__tab-switch {
    width: 50%;
    margin-top: 40px;
  }
  .landing__action {
    margin-top: 40px;
    position: relative;
    height: 650px;
    margin-left: auto;
  }
  .landing__login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px 20px;
    height: 100%;
    width: 55%;
  }
  .landing__login label {
    width: 100%;
    box-sizing: border-box;
  }
  .landing__login input {
    width: 100%;
    height: 55px;
  }
  .landing__login__remember__box label {
    padding: 0;
  }
  .landing__login__seperate {
    width: calc(100% - 40px);
  }
  .landing__login__other {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing__login .btn {
    width: calc(100% - 40px);
  }
  .landing__register {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 20px;
    height: 100%;
    width: 55%;
  }
  .landing__register label {
    width: 100%;
  }
  .landing__register input {
    width: 100%;
    height: 50px;
  }
  .landing__register__remember__box label {
    padding: 0;
  }
  .landing__register .btn {
    width: calc(100% - 40px);
  }
  .landing__register__text {
    width: 100%;
    line-height: 1.2;
  }
  .landing__input-register:checked ~ .landing__action .landing__register {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .landing__info__desc__lap {
    display: block;
    width: 50%;
    margin: 10px auto;
    color: #fff;
    font-weight: 500;
  }
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  .lv1 {
    font-size: 10rem;
  }
  .landing__info {
    width: 50%;
  }
  .landing__tab-switch {
    width: 50%;
    margin-top: 40px;
  }
  .landing__action {
    position: relative;
    width: 50%;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing__login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px 20px;
    height: 100%;
    width: 65%;
  }
  .landing__login label {
    width: 100%;
    box-sizing: border-box;
  }
  .landing__login input {
    width: 100%;
    height: 55px;
  }
  .landing__login__remember__box label {
    padding: 0;
  }
  .landing__login__seperate {
    width: calc(100% - 40px);
  }
  .landing__login__other {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing__login .btn {
    width: calc(100% - 40px);
  }
  .landing__register {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    height: 100%;
    width: 65%;
  }
  .landing__register label {
    width: 100%;
  }
  .landing__register input {
    width: 100%;
    height: 50px;
  }
  .landing__register__remember__box label {
    padding: 0;
  }
  .landing__register .btn {
    width: calc(100% - 40px);
  }
  .landing__register__text {
    width: 100%;
    line-height: 1.2;
  }
  .landing__input-register:checked ~ .landing__action .landing__register {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
