nav>div{
    display: inline-block;
    border: none;
    color: rgb(174, 120, 12);
}
nav{
    border: 1px solid rgb(174, 120, 12);
    border-radius: 1px;
    margin-top: 50px;
    width: fit-content;
}

nav>div>p{
    display: inline-block;
    padding: 0 50px;
}
main{
    margin-top: 50px;
}
.info{
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    height: 500px;
    vertical-align: top;
    padding: 20px;
    background-color:rgb(234, 234, 234);
}
.map{
    display: inline-block;
    width: 69%;
    height: 500px;
    border: none;
}