
main{
    margin-top: 100px;
    padding-left: 10%;
}
div{
    display: inline-block;
    border: none;
    width: 30%;
}
img{
    display: inline-block;
    width: 80px;
    margin-top:20px ;
}
p{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 10px;
}